#profile-picture {
    margin: 0px;
    padding: 0px;
    background-image: url("/images/profile-picture-1.png");
    background-size: cover;
    height: 450px;
    width: 450px;
    position: relative;
    top: -475px; /* -475px */
    left: 175px; /* 175px */
}

h1 {
    color: #f07902;
    font-size: 50px;
    position: relative;
    top: 100px;
    left: 1000px;
}

.text {
    position: relative;
    width: 600px;
    top: 125px;
    left: 820px;
    font-size: 20px;
    color: #fffefc;
}

.text ul {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.text ul li {
    display: flex;
    background: rgba(255, 255, 255, .05);
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
    transition: .5s;
}

.text ul li:nth-child(1) {
    background: rgba(240, 121, 2, .7);
}

.text ul li:nth-child(2) {
    background: rgba(240, 121, 2, .5);
}

.text ul li:nth-child(3) {
    background: rgba(240, 121, 2, .3);
}

.text ul li:nth-child(4) {
    background: rgba(240, 121, 2, .2);
}

.text ul li:nth-child(5) {
    background: rgba(240, 121, 2, .1);
}

.text ul li:hover {
    transform: scale(1.06);
    background: #b9bbbd;
}

#box {
    background: #f07902;
    width:150px;
    height: 6px;
    position: relative;
    top: 105px;
    left: 1030px;
}

#icon1 {
    background-image: url("/images/icon-1.png");
    background-size: cover;
    height: 150px;
    width: 150px;
    position: relative;
    top: -625px;
    left: 90px;
}

#icon2 {
    background-image: url("/images/icon-2-atom.png");
    background-size: cover;
    height: 150px;
    width: 150px;
    position: relative;
    top: -650px;
    left: 325px;
}

#icon3 {
    background-image: url("/images/icon-3.png");
    background-size: cover;
    height: 150px;
    width: 150px;
    position: relative;
    top: -928px;
    left: 565px;
}

#icon1-text {
    position: relative;
    top: -920px;
    left: 85px;
    font-size: 35px;
    width: 10%;
    margin: 0;
    padding: 0;
}

#icon2-text {
    position: relative;
    top: -830px;
    left: 330px;
    font-size: 35px;
}

#icon3-text {
    position: relative;
    top: -1000px;
    left: 578px;
    font-size: 35px;
    width: 10%;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1630px) {
    h1 {
        color: #f07902;
        font-size: 50px;
        position: relative;
        top: 100px;
        left: 1200px;
    }
    
    .text {
        position: relative;
        width: 600px;
        top: 125px;
        left: 1020px;
        font-size: 20px;
        color: #fffefc;
    }
    
    .text ul {
        position: relative;
        width: 400px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #box {
        background: #f07902;
        width:150px;
        height: 6px;
        position: relative;
        top: 105px;
        left: 1230px;
    }
}


@media only screen and (min-width: 1340px) and (max-width: 1440px) {
    h1 {
        color: #f07902;
        font-size: 45px;
        position: relative;
        top: 100px;
        left: 900px;
    }
    
    .text {
        position: relative;
        width: 600px;
        top: 125px;
        left: 720px;
        font-size: 18px;
        color: #fffefc;
    }
    
    .text ul {
        position: relative;
        width: 400px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #box {
        background: #f07902;
        width:150px;
        height: 6px;
        position: relative;
        top: 105px;
        left: 920px;
    }

    #profile-picture {
        margin: 0px;
        padding: 0px;
        background-image: url("/images/profile-picture-1.png");
        background-size: cover;
        height: 400px;
        width: 400px;
        position: relative;
        top: -475px; /* -475px */
        left: 175px; /* 175px */
    }

    #icon1 {
        background-image: url("/images/icon-1.png");
        background-size: cover;
        height: 150px;
        width: 150px;
        position: relative;
        top: -625px;
        left: 90px;
    }
    
    #icon2 {
        background-image: url("/images/icon-2-atom.png");
        background-size: cover;
        height: 150px;
        width: 150px;
        position: relative;
        top: -650px;
        left: 305px;
    }
    
    #icon3 {
        background-image: url("/images/icon-3.png");
        background-size: cover;
        height: 150px;
        width: 150px;
        position: relative;
        top: -928px;
        left: 525px;
    }
    
    #icon1-text {
        position: relative;
        top: -920px;
        left: 85px;
        font-size: 35px;
        width: 10%;
        margin: 0;
        padding: 0;
    }
    
    #icon2-text {
        position: relative;
        top: -830px;
        left: 315px;
        font-size: 35px;
    }
    
    #icon3-text {
        position: relative;
        top: -1000px;
        left: 538px;
        font-size: 35px;
        width: 10%;
        margin: 0;
        padding: 0;
    }
} 

@media only screen and (min-width: 1200px) and (max-width: 1340px) {
    h1 {
        color: #f07902;
        font-size: 45px;
        position: relative;
        top: 100px;
        left: 780px;
    }
    
    .text {
        position: relative;
        width: 600px;
        top: 125px;
        left: 600px;
        font-size: 18px;
        color: #fffefc;
    }
    
    .text ul {
        position: relative;
        width: 400px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #box {
        background: #f07902;
        width:150px;
        height: 6px;
        position: relative;
        top: 105px;
        left: 800px;
    }

    #profile-picture {
        margin: 0px;
        padding: 0px;
        background-image: url("/images/profile-picture-1.png");
        background-size: cover;
        height: 360px;
        width: 360px;
        position: relative;
        top: -455px; /* -475px */
        left: 135px; /* 175px */
    }

    #icon1 {
        background-image: url("/images/icon-1.png");
        background-size: cover;
        height: 130px;
        width: 130px;
        position: relative;
        top: -580px;
        left: 50px;
    }
    
    #icon2 {
        background-image: url("/images/icon-2-atom.png");
        background-size: cover;
        height: 130px;
        width: 130px;
        position: relative;
        top: -600px;
        left: 255px;
    }
    
    #icon3 {
        background-image: url("/images/icon-3.png");
        background-size: cover;
        height: 130px;
        width: 130px;
        position: relative;
        top: -838px;
        left: 455px;
    }
    
    #icon1-text {
        position: relative;
        top: -850px;
        left: 40px;
        font-size: 33px;
        width: 10%;
        margin: 0;
        padding: 0;
    }
    
    #icon2-text {
        position: relative;
        top: -775px;
        left: 255px;
        font-size: 33px;
    }
    
    #icon3-text {
        position: relative;
        top: -915px;
        left: 460px;
        font-size: 33px;
        width: 10%;
        margin: 0;
        padding: 0;
    }
} 

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    h1 {
        color: #f07902;
        font-size: 45px;
        position: relative;
        top: 150px;
        /*left: 480px;*/
        left: 40%;
    }
    
    .text {
        position: relative;
        width: 550px;
        top: 200px;
        left: 440px;
        font-size: 18px;
        color: #fffefc;
    }
    
    .text ul {
        position: relative;
        width: 400px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #box {
        background: #f07902;
        width:150px;
        height: 6px;
        position: relative;
        top: 155px;
        /*left: 500px;*/
        left: 42%;
    }

    #profile-picture {
        margin: 0px;
        padding: 0px;
        background-image: url("/images/profile-picture-1.png");
        background-size: cover;
        height: 310px;
        width: 310px;
        position: relative;
        top: -225px; /* -475px */
        left: 135px; /* 175px */
    }

    #icon1 {
        background-image: url("/images/icon-1.png");
        background-size: cover;
        height: 100px;
        width: 100px;
        position: relative;
        top: -330px;
        left: 80px;
    }
    
    #icon2 {
        background-image: url("/images/icon-2-atom.png");
        background-size: cover;
        height: 100px;
        width: 100px;
        position: relative;
        top: -340px;
        left: 245px;
    }
    
    #icon3 {
        background-image: url("/images/icon-3.png");
        background-size: cover;
        height: 100px;
        width: 100px;
        position: relative;
        top: -530px;
        left: 405px;
    }
    
    #icon1-text {
        position: relative;
        top: -540px;
        left: 70px;
        font-size: 28px;
        width: 10%;
        margin: 0;
        padding: 0;
    }
    
    #icon2-text {
        position: relative;
        top: -480px;
        left: 240px;
        font-size: 28px;
    }
    
    #icon3-text {
        position: relative;
        top: -600px;
        left: 405px;
        font-size: 28px;
        width: 10%;
        margin: 0;
        padding: 0;
    }

    .text ul {
        position: relative;
        width: 300px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        color: #f07902;
        font-size: 45px;
        position: relative;
        top: 200px;
        /*left: 480px;*/
        left: 155px;
    }
    
    .text {
        position: relative;
        width: 340px;
        top: 220px;
        left: 435px;
        font-size: 16px;
        color: #fffefc;
    }
    
    .text ul {
        position: relative;
        width: 400px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #box {
        background: #f07902;
        width:150px;
        height: 6px;
        position: relative;
        top: 195px;
        /*left: 500px;*/
        left: 175px;
    }

    #profile-picture {
        margin: 0px;
        padding: 0px;
        background-image: url("/images/profile-picture-1.png");
        background-size: cover;
        height: 310px;
        width: 310px;
        position: relative;
        top: -225px; /* -475px */
        left: 95px; /* 175px */
    }

    #icon1 {
        background-image: url("/images/icon-1.png");
        background-size: cover;
        height: 100px;
        width: 100px;
        position: relative;
        top: -330px;
        left: 40px;
    }
    
    #icon2 {
        background-image: url("/images/icon-2-atom.png");
        background-size: cover;
        height: 100px;
        width: 100px;
        position: relative;
        top: -340px;
        left: 205px;
    }
    
    #icon3 {
        background-image: url("/images/icon-3.png");
        background-size: cover;
        height: 100px;
        width: 100px;
        position: relative;
        top: -530px;
        left: 365px;
    }
    
    #icon1-text {
        position: relative;
        top: -540px;
        left: 30px;
        font-size: 26px;
        width: 10%;
        margin: 0;
        padding: 0;
    }
    
    #icon2-text {
        position: relative;
        top: -480px;
        left: 205px;
        font-size: 26px;
    }
    
    #icon3-text {
        position: relative;
        top: -595px;
        left: 370px;
        font-size: 26px;
        width: 10%;
        margin: 0;
        padding: 0;
    }

    .text ul {
        position: relative;
        width: 200px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
} 

@media only screen and (min-width: 425px) and (max-width: 768px) {
    h1 {
        color: #f07902;
        font-size: 45px;
        position: relative;
        top: 170px;
        /*left: 480px;*/
        left: 35%; /*265px*/
    }
    
    .text {
        position: relative;
        width: 240px;
        top: 220px;
        left: 305px;
        font-size: 16px;
        color: #fffefc;
    }
    
    .text ul {
        position: relative;
        width: 400px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #box {
        background: #f07902;
        width:150px;
        height: 6px;
        position: relative;
        top: 165px;
        /*left: 500px;*/
        left: 38%; /*285*/
    }

    #profile-picture {
        margin: 0px;
        padding: 0px;
        background-image: url("/images/profile-picture-1.png");
        background-size: cover;
        height: 160px;
        width: 160px;
        position: relative;
        top: -400px; /* -475px */
        left: 75px; /* 175px */
    }

    #icon1 {
        background-image: url("/images/icon-1.png");
        background-size: cover;
        height: 50px;
        width: 50px;
        position: relative;
        top: -455px;
        left: 40px;
    }
    
    #icon2 {
        background-image: url("/images/icon-2-atom.png");
        background-size: cover;
        height: 50px;
        width: 50px;
        position: relative;
        top: -450px;
        left: 135px;
    }
    
    #icon3 {
        background-image: url("/images/icon-3.png");
        background-size: cover;
        height: 50px;
        width: 50px;
        position: relative;
        top: -555px;
        left: 220px;
    }
    
    #icon1-text {
        position: relative;
        top: -555px;
        left: 25px;
        font-size: 18px;
        width: 10%;
        margin: 0;
        padding: 0;
    }
    
    #icon2-text {
        position: relative;
        top: -520px;
        left: 125px;
        font-size: 18px;
    }
    
    #icon3-text {
        position: relative;
        top: -595px;
        left: 215px;
        font-size: 18px;
        width: 10%;
        margin: 0;
        padding: 0;
    }

    .text ul {
        position: relative;
        width: 200px;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
        left: -250px;
        top: -90px;
    }
} 

@media only screen and (min-width: 375px) and (max-width: 425px) {
    h1 {
        color: #f07902;
        font-size: 40px;
        position: relative;
        top: 150px;
        /*left: 480px;*/
        left: 35%; /*265px*/
    }
    
    .text {
        position: relative;
        width: 200px;
        top: 190px;
        left: 230px;
        font-size: 14px;
        color: #fffefc;
    }
    
    .text ul {
        position: relative;
        width: 400px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #box {
        background: #f07902;
        width:150px;
        height: 6px;
        position: relative;
        top: 145px;
        /*left: 500px;*/
        left: 37%; /*285*/
    }

    #profile-picture {
        margin: 0px;
        padding: 0px;
        background-image: url("/images/profile-picture-1.png");
        background-size: cover;
        height: 120px;
        width: 120px;
        position: relative;
        top: -400px; /* -475px */
        left: 75px; /* 175px */
    }

    #icon1 {
        background-image: url("/images/icon-1.png");
        background-size: cover;
        height: 30px;
        width: 30px;
        position: relative;
        top: -440px;
        left: 60px;
    }
    
    #icon2 {
        background-image: url("/images/icon-2-atom.png");
        background-size: cover;
        height: 30px;
        width: 30px;
        position: relative;
        top: -435px;
        left: 123px;
    }
    
    #icon3 {
        background-image: url("/images/icon-3.png");
        background-size: cover;
        height: 30px;
        width: 30px;
        position: relative;
        top: -500px;
        left: 183px;
    }
    
    #icon1-text {
        position: relative;
        top: -505px;
        left: 40px;
        font-size: 13px;
        width: 10%;
        margin: 0;
        padding: 0;
    }
    
    #icon2-text {
        position: relative;
        top: -485px;
        left: 112px;
        font-size: 13px;
    }
    
    #icon3-text {
        position: relative;
        top: -535px;
        left: 175px;
        font-size: 13px;
        width: 10%;
        margin: 0;
        padding: 0;
    }

    .text ul {
        position: relative;
        width: 200px;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
        left: -200px;
        top: -120px;
    }
}