* {
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background: #2d3642; /*#313c4d*/
    min-height: 3500px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.side-box-active {
    position: fixed;
    width: 3px;
    height: 200px;
    bottom: 0px;
    left: 2%;
    background-color: #dbdbdb;
    opacity: 0.7
}

.fa-linkedin {
    position: fixed;
    align-items: center;
    transform: scale(2);
    bottom: 225px;
    left: 1.75%;
    color: #dbdbdb;
    opacity: 0.7;
}

.fa-github-square {
    position: fixed;
    align-items: center;
    transform: scale(2);
    bottom: 265px;
    left: 1.75%;
    color: #dbdbdb;
    opacity: 0.7;
}

.fa-linkedin:hover,
.fa-github-square:hover {
    opacity: .9;
    color: #04c1c8;
}

.socials {
    opacity: 0;
}

.socials.active {
    opacity: 1;
    transition: 1s ease;
}

@media only screen and (max-width: 375px) {
    .side-box-active {
        position: fixed;
        width: 3px;
        height: 200px;
        bottom: 0px;
        left: 3%;
        background-color: #dbdbdb;
        opacity: 0.7
    }
    
    .fa-linkedin {
        position: fixed;
        align-items: center;
        transform: scale(2);
        bottom: 225px;
        left: 2.75%;
        color: #dbdbdb;
        opacity: 0.7;
    }
    
    .fa-github-square {
        position: fixed;
        align-items: center;
        transform: scale(2);
        bottom: 265px;
        left: 2.75%;
        color: #dbdbdb;
        opacity: 0.7;
    }
}