.projects-box {
    min-height: 800px;
}

.projects-header {
    color: #f07902;
    font-size: 50px;
    position: relative;
    top: 100px;
    /*left: 45%; */
    text-align: center;
    left: 0;
}

.projects-box #box {
    margin: 0 -75px;
    position: relative;
    top: 100px;
    align-items: center;
    left: 50%;
}
 
