.triangle {
    background: red;
    position: absolute;
    z-index: 1000;
}


#transition {
    margin: 0px;
    padding: 0px;
    background-image: url("/images/transition-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100vw;
    position: relative;
    top: 312px;
} 

/*
#transition {
    position: relative;
    height: 150px;
    width: 150px;
    background: red;
} */
  